sudo: true
language: java
install: true
before_install:
  - mvn clean install
  - chmod +x mvnw
rvm:
 - 2.6
deploy:
 provider: heroku
 api-key: 
  secure: $HEROKU_API_KEY
 app: travis-ci-app-test
 run: 
  - gem install faraday -v 1.8.0
 on:
  branch: main
