sudo: true
language: java
jdk:
 - oraclejdk17
install: true
before_install:
  - mvn clean install
  - chmod +x mvnw
deploy:
 provider: heroku
 api-key: 
  secure: $HEROKU_API_KEY
 app: travis-ci-app-test
 on:
  branch: main
  rvm: 2.6.0
